
$color: #2E4172;
$width: 40px;
$height: 15px;

.badge-card {
    font-size: 2.3em;
    color: white;
    padding: 0 15px;
    z-index: 1;
    background: #2867ce;
    position: absolute;
    right: -15px;
    top: 35px;
    &:after
    {
        content: '';
        position: absolute;
        right: 0;
        bottom: -#{$height};
        width: 0;
        height: 0;
        border-top: $height solid $color;
        border-right: $width solid transparent;
    }
}